*{
    box-sizing: border-box;
}
body{
    margin-right:20%;
    margin-left:20%;
}
.box-1{
    position: fixed;
    background: #eee;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
}
.box-2{
    position: relative;
    height: 150px;
    background: #999;
    z-index: 1;
}
.box-3{
    position: absolute;
    height: 70px;
    background: #eee;
    top: 380px;
    right: 100px;
    width:200px;
    z-index: 2;
}